<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.swjtu.databaseexpriment">

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/admin_login"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity android:name=".loginPage.MainActivity">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".AllUsersActivity"
            android:label="@string/all_users" />
        <activity android:name=".userRights.UserRightsActivity" />
        <activity
            android:name=".addNewUser.AddNewUserActivity"
            android:label="@string/add_new_user" />
        <activity
            android:name=".addRight.AddRightActivity"
            android:label="@string/add_right" />
        <activity
            android:name=".updatePassword.UpdatePassActivity"
            android:label="@string/update_pass" />
        <activity android:name=".userRights.GeneralUserRightsActivity" />
        <activity android:name=".winName.UnknownActivity" />
        <activity
            android:name=".manageRights.ManageRightsActivity"
            android:label="@string/manage_right" />
        <activity
            android:name=".basicManagerUI.BasicInfoRepositoryActivity"
            android:label="@string/basic_info_repository">

        </activity>
        <activity android:name=".basicManagerUI.SimpleTableActivity" />
        <activity android:name=".basicManagerUI.TableWithOrderActivity" />
        <activity android:name=".basicManagerUI.TableWithUseActivity" />
        <activity android:name=".basicManagerUI.BookTypeActivity" />
        <activity android:name=".basicManagerUI.BookRefNameActivity" />
        <activity android:name=".basicManagerUI.BookRefKeyActivity" />
        <activity android:name=".basicManagerUI.BookRefCodeActivity" />
        <activity android:name=".exercise6.InputInterfaceActivity" />
        <activity
            android:name=".exercise6.StudentInfoActivity"
            android:screenOrientation="landscape">

        </activity>
        <activity android:name=".exercise8.TableTechActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".exercise8.BookInActivity"/>
        <activity android:name=".exercise8.BookInPicActivity"/>
    </application>

</manifest>